<h1>Hi <%= name %></h1>
<li><a href="/">Home</a>
<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log OUT</button>
</form>